/**
 * Global
 */
:root {
	color-scheme: dark light;
	@include define-color('primary', #d30082);
	@include define-color('secondary', #3700ff);
	@include define-color('tertiary', #00d3ff);

	@include define-color('background', #fafafa);
	@include define-color('background-alt', #f5f5f5);

	@include define-color('text', #222222);
	@include define-color('text-alt', #999999);

	@media (prefers-color-scheme: dark) {
		@include define-color('primary', #ad0d70);
		@include define-color('secondary', #532aeb);
		@include define-color('tertiary', #098faa);

		@include define-color('background', #1e1e1e);
		@include define-color('background-alt', #2f2f2f);

		@include define-color('text', #fafafa);
		@include define-color('text-alt', #999999);
	}
}

html {
	scroll-behavior: smooth;
	scroll-margin-top: 20vh;
	overscroll-behavior: none;
}

/**
 * Colors
 */

body {
	color: color('text');
	background-color: color('background');
}

a,
.a {
	color: color('primary');
	text-decoration: none;
	transition: $transition;

	&:hover {
		color: color('secondary');
	}
	&:focus-visible {
		outline: none;
	}
}

/**
 * Typo
 */
body,
p {
	font-family: $font-family-body;
	font-size: 1rem;
}

.h0,
#{headings()} {
	font-family: $font-family-heading;
	width: 100%;
}

.h0 {
	font-size: 2.5rem;
}

h1,
.h1 {
	font-size: 2rem;
}

h2,
.h2 {
	font-size: 1.75rem;
}

h3,
.h3 {
	font-size: 1.5rem;
}

h4,
.h4 {
	font-size: 1.325rem;
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1.125rem;
}

/**
 * Media
 */

img {
	width: 100%;
	object-fit: cover;
}

img,
.Image,
picture,
video,
audio,
canvas,
svg,
iframe,
embed,
object {
	@media (prefers-color-scheme: dark) {
		opacity: 0.85;
	}
}
