/**
 * Global
 */
html {
	scroll-behavior: smooth;
	scroll-margin-top: 20vh;
	overscroll-behavior: none;
}

* {
	transition: 0.2s ease-in;
}

/**
 * Typo
 */
body,
p {
	font-family: $font-family-body;
	font-size: 1rem;
}

.h0,
#{headings()} {
	font-family: $font-family-heading;
	margin-block: 1em;
}

.h0 {
	font-size: 2.5rem;
}

h1,
.h1 {
	font-size: 2rem;
}

h2,
.h2 {
	font-size: 1.75rem;
}

h3,
.h3 {
	font-size: 1.5rem;
}

h4,
.h4 {
	font-size: 1.325rem;
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1.125rem;
}

img {
	width: 100%;
	object-fit: cover;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #1d1e26;
}
pre[class*='language-'] {
	padding: var(--halfNote) var(--eighthNote) var(--eighthNote);
	margin: var(--halfNote) 0;
	overflow: auto;
	position: relative;
	width: 100%;
}
code[class*='language-'],
pre[class*='language-'] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgb(0 0 0 / 30%);
	font-family: var(--codeFont);
	font-display: swap;
	font-size: 0.75rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}
code,
pre {
	font-family: var(--codeFont);
}
pre {
	font-style: normal;
	font-weight: 400;
	background: var(--darkerGray);
	background: #1d1e26;
	padding: 1.5em;
	margin: var(--halfNote) auto;
	color: var(--white);
	font-size: 0.8rem;
	overflow: auto;
	line-height: 1.5;
	width: 100%;
	overflow-x: auto;
}

pre {
	font-style: normal;
	font-weight: 400;
	background: var(--darkerGray);
	background: #1d1e26;
	padding: 1.5em;
	margin: var(--halfNote) auto;
	color: var(--white);
	font-size: 0.8rem;
	overflow: auto;
	line-height: 1.5;
	width: 100%;
}

pre code {
	background: transparent;
	font-size: inherit;
	padding: 0;
	border: 0;
}

.dark code {
	background: hsla(var(--darkBlueHSL), 0.6);
	border: 0;
}

.dark pre code {
	background: transparent;
}

code {
	font-size: 0.8em;
	background: hsla(var(--lightBlueHSL), 0.1);
	padding: 0.2em 0.3em;
	border-radius: 2px;
	border: 1px solid hsla(var(--lightBlueHSL), 0.2);
	line-height: 1 !important;
	white-space: nowrap;
}

code,
pre {
	font-family: var(--codeFont);
}

code[class*='language-'],
pre[class*='language-'] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: 'MonoLisa', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-display: swap;
	font-size: 0.85rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

pre[class*='language-'] {
	padding: 0.85rem;
	margin: 0.85rem 0;
	overflow: auto;
	position: relative;
	width: 100%;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #1d1e26;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7970a9;
}

.token.parameter {
	color: #ffc97c;
}

.token.punctuation {
	color: #f2f2f2;
}

.token.namespace {
	opacity: 0.8;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ff80bf;
}

.token.boolean,
.token.number {
	color: #9580ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #ffff80;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #ff80bf;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #8aff80;
}

.token.keyword {
	color: #ff80bf;
}

.token.regex,
.token.important {
	color: #fc9867;
}

.token.important,
.token.bold {
	font-weight: 700;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}
