.link-card {
    &.Container {
        color: inherit;
        border: inherit;
        border-radius: inherit;
        background-color: inherit;
        &:hover {
            background-color: transparent !important;
            opacity: .5;
        }
    }

    &:empty {
        height: 100%;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background-color: rgb(255, 255, 255, .1);
        background: linear-gradient(to right, rgb(255, 255, 255, .1) 8%, rgb(255, 255, 255, .15) 18%, rgb(255, 255, 255, .1) 33%);
        background-size: 60vw 10vw;
        position: relative;
    }

    .Image {
        background-color: rgb(255, 255, 255, .1);
        border-radius: inherit;
        height: inherit;
        aspect-ratio: 16/9;

        @media (prefers-color-scheme: dark) {
            &[style*="UeDNBNQ.jpeg"] {
                filter: invert(.875);
            }
        }
    }

    .Secondary {
        color: inherit;
        opacity: .7;
    }
}

@keyframes placeHolderShimmer {
    0% {
      background-position: -60vw 0
    }
    100% {
      background-position: 60vw 0
    }
  }