/**
 * Variables
 */

$transition: 0.3s ease-in-out;

/* Fonts */
// TODO add fonts
$font-family-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-accent: 'Helvetica Neue', Helvetica, Arial, sans-serif;
